# Environment
ENVIRONMENT=dev

# Docker Configuration
LOCAL_PORT=8080
DOCKER_PORT=8080

# Database Postgres Configuration
DATABASE_TYPE=postgresql
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_DB=dev_db
DATABASE_USER=dev_user
DATABASE_PASSWORD=dev_password

# JPA Configuration
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true